{{ if $bucket_external_name }}

apiVersion: s3.aws.upbound.io/v1beta1
kind: BucketACL
metadata:
  annotations:
    {{ setResourceNameAnnotation "acl" }}
spec:
  forProvider:
    region: {{ $params.region }}
    bucket: {{ $bucket_external_name }}
    acl: {{ $params.acl }}

{{ end }}
